@model Sistema_Facturacion_Biblioteca.Models.Servicio

<h2>Eliminar Servicio</h2>
<h4>¿Estás seguro que deseas eliminar este servicio?</h4>

<div>
    <p><strong>@Model.NombreServicio</strong> - Precio: @Model.Precio</p>
</div>

<form asp-controller="Servicios" asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdServicio" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-controller="Home" asp-action="Servicios" class="btn btn-secondary">Cancelar</a>
</form>