@model Sistema_Facturacion_Biblioteca.Models.Pago

<h2>Eliminar Pago</h2>
<p>¿Seguro que deseas eliminar el pago de la factura <strong>@Model.IdFactura</strong> por <strong>@Model.Monto</strong>?</p>

<form asp-controller="Pagos" asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdPago" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-controller="Home" asp-action="Pagos" class="btn btn-secondary">Cancelar</a>
</form>